.color{
    width:1510px;
    height:20px;
   
    background-color: rgb(22, 2, 89);
}
.day{
    font-size: 20px;
}
.date{
    
    width:1510px;
    
}
.title{
    font-size: 20px;
}
.title2{
font-size: 20px;
}
.column{
/* border:2px solid black; */
width:400px;
height:600px;


}
.picture{
    /* border:2px solid blue; */
    width:600px;
    height:400px;
    margin-left: 405px;
    position:absolute;
    bottom: 120px;
}
.dharmachakra{
    width:450px;
    height:400px;
    /* border:2px solid green; */
    margin-left: 1010px;
    position: absolute;
    bottom: 120px;

}
.content{
    width:1060px;
     height:110px; 
    /* border:2px solid rgb(86, 192, 86);  */
    margin-left: 410px;
    position: relative;
    bottom: 190px;
    /* column-count: 2;
    column-gap: 2.5px;
    column-rule:2px solid green; */

}

